<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Friends.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11AEB86C1D715269004EC1ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11AEB8801D71526A004EC1ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11AEB88B1D71526A004EC1ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
